.wines-list {
    width: 60%;
    margin-top: 35vh;
}

.wines-list-headers {
    font-weight: bold;
    font-size: 1.1em;
}

.wines-list-items {
    td {
        padding: 0.35em 0.2em;
    }

    tr:hover {
        background-color: darkred;
        font-weight: bolder;
        cursor: pointer;
        color: white;
    }
}